@tailwind base;
@tailwind components;
@tailwind utilities;

.logoGradient {
    background: linear-gradient(#4BCE97, #006644, #216E4E, #00875a);
}

body {
    position: relative;
    overflow: hidden;
}